*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.markdown ul > li {
  list-style-type: circle !important;
  text-indent: 2em;
}

.repeat-list .pagination {
  margin: 0;
}

/* For the options' label */
.input-field.options > label {
  top: -2.5rem;
}

.muf-rating {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.muf-rating > .label {
  width: 50%;
}
.muf-rating > .radios {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.muf-rating > .radios > label {
  display: inline-block;
  padding: 0 0.1rem 1rem 0.1rem;
  text-align: center;
}
.muf-rating > .radios > label > input[type='radio'] {
  opacity: 1; /* only needed when using materialize-css */
}
